doctype html
html
    head
        meta(http-equiv='Content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title 2018
        style(type='text/css')
            body {
            padding-top: 60px;
            padding-bottom: 40px;
            }
            .sidebar-nav {
            padding: 9px 0;
            }
        link(rel='shortcut icon', type='image/png', href='/media/images/favicon.png')
        //link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://www.datatables.net/rss.xml')
        link(href='/css/bootstrap.css', rel='stylesheet')
        //link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css')//ok
        link(rel='stylesheet', type='text/css', href='/css/jquery.dataTables.min.css')
        script(type='text/javascript', language='javascript', src='/js/jquery-1.12.4.min.js')
        //script(type='text/javascript', language='javascript', src='//code.jquery.com/jquery-1.12.4.js')//ok
        //script(type='text/javascript', language='javascript', src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')//OK
        script(type='text/javascript', language='javascript', src='/js/jquery.dataTables.js')
        //script(type='text/javascript', language='javascript', src='/js/jquery.dataTables.min.js')
        //script(type="text/javascript", src="http://d3js.org/d3.v3.min.js") //ok
        script(type="text/javascript", src="/js/d3.v4.min.js") 
        
        //- //DO FOR BUTTON Download
        //- script(type="text/javascript", src="/js/dataTables.buttons.min.js") 
        //- script(type="text/javascript", src="/js/jszip.min.js") 
        //- script(type="text/javascript", src="/js/pdfmake.min.js") 
        //- script(type="text/javascript", src="/js/vfs_fonts.js") 
        //- script(type="text/javascript", src="/js/buttons.html5.min.js") 
        //DO RESIZE W
        script(type="text/javascript", src="/js/dataTables.pageResize.min.js") 
        script(type='text/javascript', language='javascript', src='/js/url2id.js')
        //- script.init(type='text/javascript').
        script
            $(document).ready(function() {
                 refresh();
                
            } );
            function refresh(){
                $('#bang2').empty();
                $('#bang1').empty();
               
                buildHtmlTableD3(`/sql/vnmacsrpt2/
                exec hrtrs.dbo.[sp01ViewAllorCode]`,'#bang2');

                // list dsgiai
                $('#dsgiai').empty();
                buildHtmlTable(`/sql/vnmacsrpt2/
                select OrderLevel Giải, PrizeID [Mã Giải], PrizeName [Tên Món Hàng] from HRTRS.dbo.PrizeCat order by OrderLevel
                `,'#dsgiai');
            }
            function tragiai(ele){
                if(event.keyCode == 13) {
                    //- alert(ele.value);        
                    if (ele.value=="") {
                        refresh();
                    }
                    else {
                    
                        $('#bang2').empty();
                        $('#bang1').empty();

                        //- view all data
                        buildHtmlTableD3(`/sql/vnmacsrpt2/
                        exec hrtrs.dbo.[sp01ViewAllorCode] '${ele.value}'
                        `,'#bang2');
                    }
                }
            }

            function fnctragiai(){
                    if (code.value =="") {
                        refresh();
                    }
                    else {
                
                        $('#bang2').empty();
                         $('#bang1').empty();

                        //- view all data
                        buildHtmlTableD3(`/sql/vnmacsrpt2/
                        exec hrtrs.dbo.[sp01ViewAllorCode] '${code.value}'
                        `,'#bang2');
                    }
            }
            function nhangiai(){
                $('#bang1').empty();
                $('#bang2').empty();
                buildHtmlTableD3(`/sql/vnmacsrpt2/
                exec hrtrs.dbo.[sp02_NhanQua] '${code.value}'`,'#bang1_z');
                 $('#bang1').empty();
                //- alert('Nhận giải xong');
                 fnctragiai();
                $('#code').value='';
                $('#code').focus();
                
            }

            function capnhatgiai(){
                
                 $('#dsdoigianew').empty();
                buildHtmlTableD3(`/sql/vnmacsrpt2/
                exec hrtrs.dbo.[sp03_CapnhatGiai] '${code.value}', '${giaidoi.value}'`,'#dsdoigianew_z  ');
                alert('Hoan Tat Cap Nhat Giai');
                //- buildHtmlTableD3(`/sql/vnmacsrpt2/
                //-         exec hrtrs.dbo.[sp01ViewAllorCode] '${code.value}'
                //-         `,'#bang2');
                fnctragiai();
                
            }
    body.wide.comments.example
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container-fluid
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/party2018') PARTY2018
              .nav-collapse.collapse
                  ul.nav
                  li.active
                    a(href='/party2018') HOME
             //- button.btn.btn-primary(type="submit",onclick="refresh();") RefeshData
        p Lưu ý: Khi nhấn trao giải là nhân viên đã nhận giải với thời gian thực
        input#code(type="text", placehoder="Mã Nhân Viên" ,onkeydown="tragiai(this)") Nhập mã
        button.btn.btn-primary(type="submit", onclick="fnctragiai()") Tra Giải
        button.btn.btn-primary(type="submit", onclick="nhangiai()") Trao giải và Nhập hệ thống
        table#bang1.display(cellspacing='0', width='100%')
        table#bang2.display(cellspacing='0', width='100%')

        //- input#nvdoigiai(type="text", placehoder="Mã Nhân Viên" ) 
        input#giaidoi(type="text", placehoder="Mã Giải" ) 
        button.btn.btn-primary(type="submit", onclick="capnhatgiai()") GO UP PZ LEVEL
        table#dsdoigianew.display(cellspacing='0', width='100%')
        table#dsgiai.display(cellspacing='0', width='100%')

